:root {
  --bark-bg-color: #0d1117;
  --main-bg-color: #ffffff;
  --second-bg-color: #333;
  --icon-bg-color: #c9d1d9;
  --light-bg-color: #eaf3f4;
  --social-bg-color: #3b4452;
  --line-bg-color: #eceaea;
  --light-gray-color: #8a8a8a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: var(--main-bg-color);
  transition: 0.5s ease-in-out;
}

.container {
  max-width: 1200px;
  margin: auto;
  min-height: 100px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}

.nav__info {
  color: var(--bark-bg-color);
  transition: 0.5s ease-in-out;
}

.nav__name {
  font-size: 1.4em;
}

.nav__nav--links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav__link {
  margin-left: 20px;
  color: var(--bark-bg-color);
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.icon {
  display: flex;
}

.icon__color {
  color: var(--social-bg-color);
  margin-left: 15px;
  transition: 0.5s ease-in-out;
}

.btn {
  margin-left: 20px;
}

.navigator {
  display: none;
}

.navigation {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px 0;
}

.line {
  width: 35px;
  height: 4px;
  background-color: var(--social-bg-color);
  margin-top: 4px;
  border-radius: 2px;
  border: 1px var(--social-bg-color) solid;
}

.header {
  height: 500px;
}

.header_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_center {
  margin-top: 255px;
  font-size: 50px;
  color: var(--bark-bg-color);
}
/* ---------------------------------------------------- */

.section {
  max-width: 1200px;
  margin: auto;
}

.section__title {
  text-align: center;
  font-size: 1.5em;
  margin-top: 55px;
}

.section__discription {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section__discription_2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
}

.section__information {
  font-size: 1.5em;
  color: var(--third-bg-color);
  width: 666px;
  height: 360px;
  padding-top: 77px;
  letter-spacing: 1.1px;
}

.section__information_n {
  font-size: 1.5em;
  color: var(--third-bg-color);
  width: 666px;
  height: 260px;
  padding-top: 77px;
  letter-spacing: 1.1px;
}

.portfolio {
  width: 150px;
  height: 50px;
  padding: 10px;
  margin: 5px 0 50px 0;
  font-size: 18px;
  color: white;
  background-image: linear-gradient(to right bottom, #587cc4, #2860b4);
  border: 1px #2860b4 solid;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}

.portfolio_n {
  width: 150px;
  height: 50px;
  padding: 10px;
  margin: 5px 0 50px 0;
  font-size: 18px;
  color: white;
  background-image: linear-gradient(to right bottom, #587cc4, #2860b4);
  border: 1px #2860b4 solid;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}

.img {
  height: 182px;
  width: 298px;
  margin-top: 44px;
  transition: 0.5s ease-in-out;
}

.img2 {
  height: 300px;
  /* margin-top: px; */
  transition: 0.5s ease-in-out;
}

.hr {
  border: 1px var(--line-bg-color) solid;
}

.footer {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.footer__text {
  color: var(--bark-bg-color);
  text-align: center;
  margin: 30px 0 30px 0;
}

.footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-book {
  padding: 6rem 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#7ed56f),
    to(#28b485)
  );
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.row {
  max-width: 1000px;
  margin: 0 auto;
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#7ed56f),
    to(#28b485)
  );
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin: 4rem 3rem;
}

.form__input {
  font-size: 1rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 1.5rem;
  border-radius: 2px;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 40%;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0.9rem 3rem;
  outline: none;
}

.form__label {
  font-size: 0.9rem;
  font-weight: 700;
  margin-left: 4.5rem;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: var(--light-gray-color);
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin: 2rem 3rem;
}

.btn--green {
  background-color: #55c57a;
  color: #fff;
}

/* ------------------------------------------------------------------ */

.dark__mode {
  background-color: var(--second-bg-color);
  transition: 0.5s ease-in-out;
}

.light__info {
  color: var(--light-bg-color);
  transition: 0.5s ease-in-out;
}

.light__links {
  color: var(--icon-bg-color);
  transition: 0.5s ease-in-out;
}

.light__icons {
  color: var(--icon-bg-color);
  transition: 0.5s ease-in-out;
}

.center {
  color: var(--main-bg-color);
  transition: 0.5s ease-in-out;
}

/* ----------------------------------------------------------- */

@media screen and (max-width: 1240px) {
  .container {
    max-width: 1000px;
    transition: 0.5s ease-in-out;
  }

  .row {
    max-width: 800px;
    transition: 0.5s ease-in-out;
  }

  .book {
    background-image: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 60%,
        transparent 60%
      ),
      url(../img/nat-10.jpg);
  }
  .heading-secondary {
    margin: 1rem 3rem;
  }
}

@media screen and (max-width: 1135px) {
  .section__information {
    width: 555px;
    height: 335px;
    font-size: 1.3rem;
  }
  .section__information_n {
    width: 555px;
    height: 235px;
    font-size: 1.3rem;
  }

  .img {
    margin: 0 0 50px 0;
  }
}

@media screen and (max-width: 1040px) {
  .container {
    max-width: 800px;
    transition: 0.5s ease-in-out;
  }
  .section__information {
    width: 444px;
    height: 345px;
    font-size: 1.1rem;
  }

  .section__information_n {
    width: 444px;
    height: 245px;
    font-size: 1.1rem;
  }

  .img {
    margin: 0;
  }
}

@media screen and (max-width: 840px) {
  .container {
    max-width: 700px;
    transition: 0.5s ease-in-out;
  }

  .section__discription {
    flex-direction: column;
    transition: 0.5s ease-in-out;
  }
  .section__discription_2 {
    flex-direction: column;
    transition: 0.5s ease-in-out;
  }

  .h {
    height: 450px;
    transition: 0.5s ease-in-out;
  }
  .section__information {
    width: 444px;
    height: 355px;
    font-size: 1.1rem;
    height: 325px;
    transition: 0.5s ease-in-out;
  }
  .book {
    background-image: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 100%,
        transparent 100%
      ),
      url(../img/nat-10.jpg);
  }

  .row {
    max-width: 500px;
  }
  .heading-secondary {
    text-align: center;
    margin: 20px 100px;
  }
  .form__input {
    width: 75%;
  }

  .button {
    margin: 1.5rem 9.2rem;
  }
}

@media screen and (max-width: 740px) {
  .container {
    max-width: 600px;
  }
  .section__information {
    font-size: 1rem;
    transition: 0.5s ease-in-out;
    width: 555px;
    height: 250px;
  }

  .hide {
    display: none;
    transition: 0.5s ease-in-out;
  }

  .all__links {
    display: none;
    transition: 0.5s ease-in-out;
  }
  .icon {
    display: none;
    transition: 0.5s ease-in-out;
  }

  .navigator {
    display: block;
    transition: 0.5s ease-in-out;
  }
}
